[Unit]
Description=Watcher service

[Service]
Type=simple
User=numeric
WorkingDirectory=/home/numeric/watch_parse_send_data
ExecStart=/home/numeric/watch_parse_send_data/watcher

[Install]
WantedBy=multi-user.target
